body{
	background-color: lightblue;
}
h1{
	text-align: center;
	color: red;
}
h1:hover{
	color: green;
}
p{
	
	color: black;
}

.space{
	margin: 10px 10px;
}

.nav_bar li{
	display: inline;
	padding: 10px 10px;

}

.nav_bar li:hover{
	color: white;
	background-color:gray;
}
.nav_bar{
	border: blue solid 5px;
	padding: 20px 20px;
}

li a{
	text-decoration: none;
}
.center{
	width:500px;
	margin:auto;
}
