
{% extends "layout.html"%}

{%block head%}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
{%endblock%}

{% block body %}

	<h1> The name of the page </h1>

	<h2>{{qoute}}</h2>

	<p> Small introduct </p>
	<div class="left">
		<img class= "image" src="../static/images/personalpic.jpg" height="200px" width="auto"/>
	</div>
	<div class="list">
		<p class="styling"> Activites </p>
		<ul>
			<li>Courses</li> 
			<li>Summer camp</li> 
			<li>Travelling</li> 
		</ul>
	</div>

	<div class="list">
		<p class="styling"> Youtubers </p>
		<ul>
			<li>Mirnda Sings</li> 
			<li>Zoella</li> 
			<li>Loolia</li> 
		</ul>
	</div>

	<div class="list">
		<p class="styling"> Movies </p>
		<ul>
			<li>The shawshank Redemption</li> 
			<li>Three idiots</li> 
			<li>Me before you</li> 
		</ul>
	</div>

	<div class="list">
		<p class="styling"> Facebook pages </p>
		<ul>
			<li>1</li> 
			<li>2</li> 
			<li>3</li> 
		</ul>
	</div>






{% endblock %}
